* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body {
    background-color: #fad496; 
    color: #3e2a1b; 
}

header {
    background-color: #a37143; 
    color: #f4ede2;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: flex-start; 
}

nav ul li {
    margin-right: 10px; 
}

nav ul li a {
    color: #f4ede2;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section#catalog {
    padding: 40px 20px;
}

section#catalog h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #5a4633;
    font-weight: bold;
}

.book-gallery {
    display: grid; /* Usa grid layout */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colunas responsivas */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px; /* Espaço ao redor */
}

.book-card {
    background-color: #e0cbb6;
    border: 2px solid #5a4633;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-card h3 {
    font-size: 1.2em;
    color: #3e2a1b;
    margin: 10px 0 5px;
}

.book-card p {
    font-size: 14.4px;
    color: #6b4e3b; 
}

.book-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #a37e5c; 
    color: #f4ede2;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.book-card a:hover {
    background-color: #5a4633;
}

footer {
    background-color: #5a4633;
    color: #f4ede2;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
